<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>

  <p>
    <%= form.label :author_name, "Your name" %><br>
    <% if logged_in? %>
      <%= form.text_field :author_name, value: current_user.username %>
    <% else %>
      <%= form.text_field :author_name %>
    <% end %>
  </p>
  <p>
    <%= form.label :body, "Your comment" %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>