<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>

  <p>
    <%= form.label :author_name, "Your name" %><br>
    <%= form.text_field :author_name %>
  </p>
  <p>
    <%= form.label :body, "Your comment" %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>